.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

.addCompanyButton {
  cursor: pointer;
  background-color: #2a7ae4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
}

.buttonCompany {
  cursor: pointer;
  background-color: #2a7ae4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 40px;
  transition: 0.2s;
}

.buttonCompany:hover {
  background-color: #4395ff;
  padding: 15px 45px;
}

.buttonCompany:active {
  opacity: 0.7;
  transition: 0.15s;
}
