.main {

    padding: 20px;
    margin: 0 auto;
    border: 1px solid #6c757d;
    border-radius: 10px;
    max-width: 800px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .invisible {
    visibility: hidden;
  }


  .titleHeader {
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(136, 136, 136);
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  