.main {
    padding: 20px; 
    margin: 0 auto; 
    border: 1px solid #6c757d; 
    border-radius: 10px; 
    max-width: 800px; 
    background-color: #f8f9fa; 
}

.titleHeader {
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(136, 136, 136);
}