.submain {
    border: 1px solid #6c757d;
    border-radius: 25px;
    padding: 90px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.title {
    text-align: center;
    font-size: 110px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 330px;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
    color: gray;
}

.button1 {
    margin: 0 10px;
    cursor: pointer;
    background-color: #2a7ae4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button1:hover {
    background-color: #4395ff;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.2s;
}

.button1:active {
    opacity: 0.7;
    transition: 0.15s;
}

.button2 {
    margin: 0 10px;
    cursor: pointer;
    background-color: #2a7ae4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button2:hover {
    background-color: #4395ff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.2s;
}

.button2:active {
    opacity: 0.7;
    transition: 0.15s;
}

.about {
    margin-bottom: 15px;
    margin-top: 40px;
}

.aboutText {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    max-width: 600px;
    color: #d4c9c9;
}